@font-face {
    /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
    font-family: 'tengxiang';
    font-display: swap;
    src: url('../font/tengxiangaiqingjianti.ttf') format("truetype");
  }

@font-face {
  /*字体名称，名字可以随便起，但是注意要一致，建议英文*/
  font-family: 'FiraCode';
  font-display: swap;
  src: url('../font/FiraCode-Regular.ttf') format("truetype");
}